-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: social
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `post_id` bigint(20) unsigned NOT NULL,
  `parent_comment_id` bigint(20) unsigned DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `comments_post_id_foreign` (`post_id`),
  KEY `comments_user_id_foreign` (`user_id`),
  KEY `comments_parent_comment_id_foreign` (`parent_comment_id`),
  CONSTRAINT `comments_parent_comment_id_foreign` FOREIGN KEY (`parent_comment_id`) REFERENCES `comments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `comments_post_id_foreign` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `comments_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friend_requests`
--

DROP TABLE IF EXISTS `friend_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `friend_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sender_id` bigint(20) unsigned NOT NULL,
  `receiver_id` bigint(20) unsigned NOT NULL,
  `status` enum('pending','accepted','rejected') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `friend_requests_sender_id_foreign` (`sender_id`),
  KEY `friend_requests_receiver_id_foreign` (`receiver_id`),
  CONSTRAINT `friend_requests_receiver_id_foreign` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `friend_requests_sender_id_foreign` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friend_requests`
--

LOCK TABLES `friend_requests` WRITE;
/*!40000 ALTER TABLE `friend_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `friend_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friends`
--

DROP TABLE IF EXISTS `friends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `friends` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `friend_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `friends_user_id_foreign` (`user_id`),
  KEY `friends_friend_id_foreign` (`friend_id`),
  CONSTRAINT `friends_friend_id_foreign` FOREIGN KEY (`friend_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `friends_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friends`
--

LOCK TABLES `friends` WRITE;
/*!40000 ALTER TABLE `friends` DISABLE KEYS */;
INSERT INTO `friends` VALUES (9,1,4,'2025-04-22 17:47:56','2025-04-22 17:47:56'),(14,1,5,'2025-05-20 01:06:18','2025-05-20 01:06:18'),(16,3,5,'2025-05-20 01:18:21','2025-05-20 01:18:21'),(17,3,4,'2025-05-20 10:25:47','2025-05-20 10:25:47'),(18,1,9,'2025-05-20 10:35:33','2025-05-20 10:35:33'),(19,3,9,'2025-05-20 10:46:53','2025-05-20 10:46:53'),(20,1,11,'2025-05-20 18:12:05','2025-05-20 18:12:05'),(22,1,3,'2025-05-29 19:55:06','2025-05-29 19:55:06'),(23,1,14,'2025-05-29 20:31:04','2025-05-29 20:31:04');
/*!40000 ALTER TABLE `friends` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `likes`
--

DROP TABLE IF EXISTS `likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `likes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `post_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `likes_user_id_foreign` (`user_id`),
  KEY `likes_post_id_foreign` (`post_id`),
  CONSTRAINT `likes_post_id_foreign` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `likes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likes`
--

LOCK TABLES `likes` WRITE;
/*!40000 ALTER TABLE `likes` DISABLE KEYS */;
/*!40000 ALTER TABLE `likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sender_id` bigint(20) unsigned NOT NULL,
  `receiver_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `messages_sender_id_foreign` (`sender_id`),
  KEY `messages_receiver_id_foreign` (`receiver_id`),
  CONSTRAINT `messages_receiver_id_foreign` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_sender_id_foreign` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `message` varchar(255) NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `type` varchar(255) NOT NULL DEFAULT 'info',
  `read_at` timestamp NULL DEFAULT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_user_id_index` (`user_id`),
  KEY `notifications_type_index` (`type`),
  CONSTRAINT `notifications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=476 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_reset_tokens_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES ('sacvo954@gmail.com','$2y$12$BV76i59w8CMcUUawz6kvYuiXnp2IJQgyDfLiMXmtDzUYrDkj1w4Ie','2025-05-16 04:43:57');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_images`
--

DROP TABLE IF EXISTS `post_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `post_id` bigint(20) unsigned NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `public_id` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `post_images_post_id_foreign` (`post_id`),
  CONSTRAINT `post_images_post_id_foreign` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_images`
--

LOCK TABLES `post_images` WRITE;
/*!40000 ALTER TABLE `post_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `post_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_videos`
--

DROP TABLE IF EXISTS `post_videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post_videos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `post_id` bigint(20) unsigned NOT NULL,
  `video_url` varchar(255) NOT NULL,
  `public_id` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `post_videos_post_id_foreign` (`post_id`),
  CONSTRAINT `post_videos_post_id_foreign` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_videos`
--

LOCK TABLES `post_videos` WRITE;
/*!40000 ALTER TABLE `post_videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `post_videos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `shared_post_id` bigint(20) unsigned DEFAULT NULL,
  `is_visible` tinyint(1) NOT NULL DEFAULT 1,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `posts_user_id_foreign` (`user_id`),
  KEY `posts_shared_post_id_foreign` (`shared_post_id`),
  CONSTRAINT `posts_shared_post_id_foreign` FOREIGN KEY (`shared_post_id`) REFERENCES `posts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `posts_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=157 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
INSERT INTO `posts` VALUES (12,1,NULL,1,'aa','2025-03-08 01:48:13','2025-03-08 01:48:13'),(16,1,NULL,1,'t1','2025-03-08 02:02:30','2025-03-08 02:02:30'),(19,1,NULL,1,'t3','2025-03-08 02:30:21','2025-03-08 02:30:21'),(20,1,NULL,1,'t4','2025-03-08 02:40:55','2025-03-08 02:40:55'),(26,1,NULL,1,'test','2025-03-08 05:14:46','2025-03-08 05:14:46'),(27,1,NULL,1,'aa','2025-03-27 03:23:35','2025-03-27 03:23:35'),(30,1,NULL,1,'avt','2025-03-27 03:59:09','2025-03-27 03:59:09'),(47,1,30,1,'nothing','2025-04-08 02:46:27','2025-04-08 02:46:27'),(48,3,19,1,'ﾄ黛ｺｹp th蘯ｭt','2025-04-08 05:14:02','2025-04-08 05:14:02'),(49,4,27,1,'hong anh share','2025-04-16 02:53:56','2025-04-16 02:53:56'),(50,1,NULL,1,'Ko cﾃｳ gﾃｬ','2025-04-16 04:42:40','2025-04-16 04:42:40'),(51,1,48,1,'riel?','2025-04-16 04:43:11','2025-04-16 04:43:11'),(52,1,NULL,1,'test cho avt','2025-04-22 12:24:42','2025-04-22 12:24:42'),(53,1,NULL,1,'test for avt','2025-04-22 12:48:11','2025-04-22 12:48:11'),(54,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-04-22 12:49:40','2025-04-22 12:49:40'),(55,1,NULL,1,'cover','2025-04-22 13:11:15','2025-04-22 13:11:15'),(56,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-04-22 13:15:42','2025-04-22 13:15:42'),(57,1,56,1,NULL,'2025-04-22 17:41:52','2025-04-22 17:41:52'),(58,4,54,1,'chia s蘯ｻ','2025-04-22 17:44:04','2025-04-22 17:44:04'),(59,1,NULL,1,'test','2025-04-22 17:49:52','2025-04-22 17:49:52'),(60,3,NULL,1,'something','2025-05-14 00:48:08','2025-05-14 00:48:08'),(61,3,NULL,1,'th盻ｭ','2025-05-14 01:05:49','2025-05-14 01:05:49'),(62,3,NULL,1,'th盻ｭ','2025-05-14 01:06:07','2025-05-14 01:06:07'),(63,3,NULL,1,'thoi','2025-05-14 01:11:55','2025-05-14 01:11:55'),(64,3,NULL,1,'thoi','2025-05-14 01:12:21','2025-05-14 01:12:21'),(65,3,NULL,1,'a/a','2025-05-14 01:12:28','2025-05-14 01:12:28'),(66,3,NULL,1,'hjbjhb','2025-05-14 01:12:44','2025-05-14 01:12:44'),(67,3,NULL,1,'ﾃ｡dadad','2025-05-14 01:14:08','2025-05-14 01:14:08'),(68,1,NULL,1,'蘯･dddﾄ・,'2025-05-14 01:15:03','2025-05-14 01:15:03'),(69,3,NULL,1,'asqwe','2025-05-14 01:15:19','2025-05-14 01:15:19'),(70,3,NULL,1,'aslk;','2025-05-14 01:17:36','2025-05-14 01:17:36'),(71,3,NULL,1,'aslk;','2025-05-14 01:21:31','2025-05-14 01:21:31'),(72,3,NULL,0,'thﾃｭch 1','2025-05-14 01:42:21','2025-05-15 23:23:04'),(73,1,NULL,1,'g蘯ｧn cu盻訴 r盻妬','2025-05-16 00:30:37','2025-05-16 00:30:37'),(74,1,NULL,1,'DEMO','2025-05-16 23:51:10','2025-05-16 23:51:10'),(75,1,NULL,1,'DEMO 2','2025-05-16 23:58:30','2025-05-16 23:58:30'),(76,1,NULL,1,'Demo','2025-05-17 01:13:24','2025-05-17 01:13:24'),(77,5,NULL,1,'Bﾃi ﾄ惰ハg ﾄ黛ｺｧu tiﾃｪn','2025-05-20 01:38:58','2025-05-20 01:38:58'),(78,3,NULL,1,'Huy Nguy盻・ ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:23:01','2025-05-20 10:23:01'),(79,3,NULL,1,'Huy Nguy盻・ ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-20 10:24:46','2025-05-20 10:24:46'),(80,4,NULL,1,'H盻渡g Anh ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:26:08','2025-05-20 10:26:08'),(81,4,NULL,1,'H盻渡g Anh ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-20 10:26:27','2025-05-20 10:26:27'),(82,5,NULL,1,'Duy Anh ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:27:28','2025-05-20 10:27:28'),(83,5,NULL,1,'Duy Anh ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-20 10:27:42','2025-05-20 10:27:42'),(84,9,NULL,1,'Nhi Tr蘯ｧn ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:29:23','2025-05-20 10:29:23'),(85,9,NULL,1,'Nhi Tr蘯ｧn ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-20 10:29:38','2025-05-20 10:29:38'),(86,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:36:04','2025-05-20 10:36:04'),(87,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-20 10:40:19','2025-05-20 10:40:19'),(88,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-20 10:41:07','2025-05-20 10:41:07'),(89,1,NULL,1,'DEMO 1','2025-05-20 10:42:24','2025-05-20 10:42:24'),(90,1,NULL,1,'DEMO 2','2025-05-20 11:02:16','2025-05-20 11:02:16'),(91,1,NULL,1,'DEMO','2025-05-20 18:09:51','2025-05-20 18:09:51'),(92,1,91,1,'DEMO SHARE','2025-05-20 18:10:54','2025-05-20 18:10:54'),(93,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-05-29 19:32:24','2025-05-29 19:32:24'),(94,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-05-29 19:32:41','2025-05-29 19:32:41'),(95,1,NULL,1,'Demo','2025-05-29 19:54:06','2025-05-29 19:54:06'),(96,3,NULL,1,'l蘯｡i','2025-05-29 20:07:56','2025-05-29 20:07:56'),(97,1,NULL,1,'Demo','2025-05-29 20:31:40','2025-05-29 20:31:40'),(98,1,96,1,'蘯｢nh bﾃｬa ﾄ黛ｺｹp','2025-05-29 20:34:09','2025-05-29 20:34:09'),(99,3,NULL,1,'aaaaa','2025-06-24 03:35:23','2025-06-24 03:35:23'),(100,1,NULL,1,'aaa','2025-06-24 03:48:06','2025-06-24 03:48:06'),(101,1,NULL,1,'t3','2025-07-02 04:42:17','2025-07-02 04:42:17'),(105,1,NULL,1,'t3 5','2025-07-02 05:33:26','2025-07-02 05:33:26'),(112,1,NULL,1,'t4 1','2025-07-03 04:04:30','2025-07-03 04:04:30'),(114,1,NULL,1,'t4 2','2025-07-03 04:09:26','2025-07-03 04:09:26'),(115,1,NULL,1,'t4 3','2025-07-03 04:10:21','2025-07-03 04:10:21'),(150,1,NULL,1,'t3 1','2025-07-08 03:57:39','2025-07-08 03:57:39'),(151,1,NULL,1,'t3 2','2025-07-08 03:58:05','2025-07-08 03:58:05'),(153,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh ﾄ黛ｺ｡i di盻㌻.','2025-07-09 04:32:01','2025-07-09 04:32:01'),(154,1,NULL,1,'Duy Phan ﾄ妥｣ ﾄ黛ｻ品 蘯｣nh bﾃｬa.','2025-07-09 04:32:20','2025-07-09 04:32:20'),(155,1,NULL,1,'t4 1','2025-07-09 05:56:44','2025-07-09 05:56:44'),(156,3,NULL,1,'Ngay 21/08/2025 6:13pm','2025-08-21 04:13:42','2025-08-21 04:13:42');
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_details`
--

DROP TABLE IF EXISTS `user_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `cover_img_url` varchar(255) DEFAULT NULL,
  `bio` varchar(500) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `relationship_status` varchar(255) DEFAULT NULL,
  `hobbies` text DEFAULT NULL,
  `social_links` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`social_links`)),
  PRIMARY KEY (`id`),
  KEY `user_details_user_id_foreign` (`user_id`),
  CONSTRAINT `user_details_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_details`
--

LOCK TABLES `user_details` WRITE;
/*!40000 ALTER TABLE `user_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `is_admin` tinyint(1) NOT NULL DEFAULT 0,
  `banned` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_username_unique` (`username`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `websockets_statistics_entries`
--

DROP TABLE IF EXISTS `websockets_statistics_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `websockets_statistics_entries` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `app_id` varchar(255) NOT NULL,
  `peak_connection_count` int(11) NOT NULL,
  `websocket_message_count` int(11) NOT NULL,
  `api_message_count` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `websockets_statistics_entries`
--

LOCK TABLES `websockets_statistics_entries` WRITE;
/*!40000 ALTER TABLE `websockets_statistics_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `websockets_statistics_entries` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-21  2:37:35
